/* Project CSS 
============================================================
============================================================*/


/* HEADER ============================== */
body{
    background: #707D7F;
}

header, section {
    max-width:750px;
    margin: 0 auto;
}

/* ABOUT ============================== */

/* COMPONENTS ============================== */
article{
    margin:30px;
    background-color: #B3C8CC;
    padding:40px;
}

article img{
    margin: 0 auto;
    width: 600px;
}

h2{
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 5px;
}

a{
    width: 220px;
    margin-top: 15px;
    border: 1px solid white;
    display: inline-block;
    padding:20px;
    text-align: center;
    font-weight: bold;
    color: white;
}

p{
    border-top:2px solid black;
    padding-top: 10px;
}